.gitignore
#data/
cfgrib_cache/
cods/figuras/
requirements.txt
setup.py
# Ignorar carpeta "antes" dentro del paquete
src/SMN_tools/antes/
# Ignorar entornos virtuales
cods/.venv/
.venv/
# Ignorar caches y compilados
__pycache__/
*.pyc
*.pyo
# Ignorar carpeta de pruebas
cods/prueba/
data/out/
src/SMN_tools/.ipynb_checkpoints/
.ipynb_checkpoints/
cods/.ipynb_checkpoints/
cods/*.ipynb
# Python cache files
*.py[cod]
*.class
# Ignorar carpeta de metricas
stats/data/
stats/metrics_out/
stats/recortado/
stats/figuras/
