#data/
cfgrib_cache/
lista
# Ignorar carpeta "antes" dentro del paquete
src/SMN_tools/antes/
# Ignorar entornos virtuales
script/.venv/
.venv/
# Ignorar caches y compilados
__pycache__/
*.pyc
*.pyo
# Ignorar carpeta de pruebas
script/prueba/
data/out/
src/SMN_tools/.ipynb_checkpoints/
*.pyc
.ipynb_checkpoints/
cods/.ipynb_checkpoints/
__pycache__/
__pycache__/
__pycache__/
__pycache__/
__pycache__/
*.pyc
*.pyo
# Python cache files
__pycache__/
*.py[cod]
*.class
__pycache__/
*.pyc
*.pyo
